<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YiQuanGou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06BDF73A1DD5B24D008DD70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06BDF7531DD5B24E008DD70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06BDF75E1DD5B24E008DD70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
